<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naonao.grab12306ticket.version.springboot.database.mapper.AllInformationMapper">


    <resultMap id="AllInformationEntity" type="AllInformationEntity">
        <id column="id" property="id"/>
        <result column="hash" property="hash"/>
        <association
                property="userInformationEntity"
                javaType="UserInformationEntity"
                select="com.naonao.grab12306ticket.version.springboot.database.mapper.UserInformationMapper.getUsernameAndPasswordByHash"
                column="hash"
        />
        <association
                property="grabTicketInformationEntity"
                javaType="GrabTicketInformationEntity"
                select="com.naonao.grab12306ticket.version.springboot.database.mapper.GrabTicketInformationMapper.getGrabTicketInformationByHash"
                column="hash"
        />
        <association
                property="notifyInformationEntity"
                javaType="NotifyInformationEntity"
                select="com.naonao.grab12306ticket.version.springboot.database.mapper.NotifyInformationMapper.getNotifyInformationByHash"
                column="hash"
        />
        <association
                property="statusInformationEntity"
                javaType="StatusInformationEntity"
                select="com.naonao.grab12306ticket.version.springboot.database.mapper.StatusInformationMapper.getStatusInformationByHash"
                column="hash"
        />
    </resultMap>


     <!--select *-->
     <!--from-->
       <!--user_information join-->
       <!--grab_ticket_information join-->
       <!--notify_information join-->
       <!--status_information-->
     <!--where-->
       <!--user_information.id = #{id}-->
    <select id="getAllInformationEntityById" resultMap="AllInformationEntity">
          select * from user_information  where id = #{id}
    </select>

    <select id="getAllInformationEntityByHash" resultMap="AllInformationEntity">
          select * from user_information  where hash = #{hash}
    </select>

    <select id="getAllInformationEntityByAll" resultMap="AllInformationEntity">
        select * from user_information
    </select>

    <!--<insert id="insert">-->
        <!--insert into status_information(-->
            <!--status,-->
            <!--taskStartTime,-->
            <!--taskEndTime,-->
            <!--taskLastRunTime,-->
            <!--tryCount,-->
            <!--message,-->
            <!--hash-->
        <!--)-->
        <!--values(-->
            <!--#{status},-->
            <!--#{taskStartTime},-->
            <!--#{taskEndTime},-->
            <!--#{taskLastRunTime},-->
            <!--#{tryCount},-->
            <!--#{message},-->
            <!--#{hash}-->
        <!--)-->
    <!--</insert>-->

    <!--<delete id="delete">-->
        <!--delete from status_information where hash = #{hash}-->
    <!--</delete>-->

    <!--<update id="update">-->
        <!--update status_information-->
        <!--set-->
            <!--status = #{status},-->
            <!--taskStartTime = #{taskStartTime},-->
            <!--taskEndTime = #{taskEndTime},-->
            <!--taskLastRunTime = #{taskLastRunTime},-->
            <!--tryCount = #{tryCount}-->
        <!--where-->
            <!--hash = #{hash}-->
    <!--</update>-->
</mapper>