<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naonao.grab12306ticket.version.springboot.mapper.UserInformationMapper">

    <!--name space-->
    <select id="getUsernameAndPasswordById" resultType="UserInformationEntity">
        select * from 12306_user_information where id = #{id}
    </select>

    <select id="getUsernameAndPasswordByHash" resultType="UserInformationEntity">
        select * from 12306_user_information where hash = #{hash}
    </select>

    <select id="getPasswordByUsername" resultType="UserInformationEntity">
        select * from 12306_user_information where  username12306 = #{username12306}
    </select>


    <select id="getEntityByUsernameAndPassword" resultType="UserInformationEntity">
        select * from 12306_user_information where  username12306 = #{username12306} and password12306 = #{password12306}
    </select>

    <select id="getEntityByUsername" resultType="UserInformationEntity">
        select * from 12306_user_information where  username12306 = #{username12306}
    </select>

    <insert id="insert">
        insert into 12306_user_information(
            username12306,
            password12306,
            hash
        )
        values(
            #{username12306},
            #{password12306},
            #{hash}
        )
    </insert>

    <delete id="delete">
        delete from 12306_user_information where hash = #{hash}
    </delete>

    <update id="update">
        update 12306_user_information
        set username12306 = #{username12306},
            password12306 = #{password12306}
        where hash = #{hash}
    </update>
</mapper>